/*BASE*/
/*.base,
.mainFxmlClass,
.button,
.menu-bar,
.menu,
.menu-item,
.label,
.tabpane *,
.tab *,
.text-area,
.text-area .scroll-pane,
.text-area .content
{
    -fx-background-color: rgba(100,10,10,0.5);
    -fx-text-fill: white;
    -fx-text-fill: white;
    -fx-font-waight: bold;
}*/
*{
    -fx-text-fill: rgb(216, 185, 195);
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
.mainFxmlClass, .hboxTop *, .tab-pane{
    /*-fx-background-color: rgba(0,60,0,0.5);   50% transparent */
    -fx-background-color: rgba(54, 48, 98, 1);

}
.text-area{
    -fx-font-size: 18;
}
.tab-header-area{
    -fx-padding: 0;
}
.text-area *{
/*
    where text goes
*/
    -fx-background-color: rgba(77, 76, 125,1);
}
.tab {
    -fx-border-color: green green rgba(10,100,10,1) green;
    -fx-border-width: 1 1 0 0;
    -fx-background-color: rgba(130, 115, 151,1);
}

.tab-header-background {
/*
    its placed in tabs name zone, but not thee tab name
*/
    -fx-background-color: rgba(54, 48, 98, 1);

}

.mainFxmlClass{
    -fx-border-color: rgba(54, 48, 98, 1);
    -fx-border-width: 0.5;
}