/*BASE*/
/*.base, 
.mainFxmlClass, 
.button, 
.menu-bar, 
.menu, 
.menu-item, 
.label, 
.tabpane *,
.tab *,
.text-area,
.text-area .scroll-pane,
.text-area .content
{
    -fx-background-color: rgba(100,10,10,0.5);
    -fx-text-fill: white;
    -fx-text-fill: white;
    -fx-font-waight: bold;
}*/
*{
    -fx-background-color: rgba(0,60,0,0.2);
    -fx-text-fill: rgb(150,250,150);
    -fx-font-waight: bold;    
    -fx-font-size: 15;
}
.text-area{
    -fx-font-size: 18;
}
.tab-header-area{
    -fx-padding: 0;
}
.text-area *{
    -fx-background-color: rgba(10,100,10,0.2);
   
}
.tab {
    -fx-background-color: rgba(10,100,10,1);
    -fx-border-color: green green rgba(10,100,10,1) green;
    -fx-border-width: 1 1 0 0;
}
.text-area .content{
    -fx-text-fill: rgb(100,100,100);
}
.mainFxmlClass{
    -fx-border-color: green green rgba(10,100,10,1) green;
    -fx-border-width: 0.5;
}